<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name=“x-apple-disable-message-reformatting”>

<meta http-equiv=“X-UA-Compatible” content=“IE=edge,chrome=1”>
<title>Payment Failed</title>
</head>
<body style="width:100%; max-width: 660px; min-width: 300px; margin: 0 auto;background-color: skyblue;">



<table align="center" style="padding:30px;margin-top:10px;" width="100%">
  <tbody>

  	<tr>
    	<td style="padding-right:30px; padding-left:30px; padding-top:50px; padding-bottom:50px; color:#717171; font-family:arial; font-size:14px; border: 0px;border-radius:8px;box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);">
        <span style="font-size:25px;"><b>Uh oh, your payment failed :(</b></span>

        <br><br>please Try Again!! :)-
    		<br><br><br><br>
        <center><a href="/bank" style="background-color:#534ce8; padding-left:30px; padding-right:30px; padding-top:15px; padding-bottom:15px; text-decoration: none; border-radius:5px;font-size:13px; color:#fff;">Back to Transaction</a></center>
        <br><br>

      </td>
  	</tr>
  </tbody>
</table>


</body>
</html>