<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='faq.css')}}">
	<title></title>
</head>
<body>

<div class="box">
   <p class="heading">FAQ's</p>
   <div class="faqs">
      <details>
         <summary>What are types of fund transfers I can do?</summary>
         <p class="text">You can do the following types of Fund Transfer:

Fund Transfer between your own accounts
Fund Transfer to any Other Express Bank account
Instant Money Transfer</p>
      </details>
      <details>
         <summary>Is this facility available to Non-Resident Indians?</summary>
         <p class="text">Yes, this facility is available to Non-Resident Indians also. Funds can be transferred from a NRE account to another NRE / NRO / Resident account. Similarly, funds can be transferred from a NRO account to another NRO / Resident account. However, funds transfer is not possible from resident accounts to NRE accounts.
</p>
      </details>
      <details>
         <summary>Are there any charges for fund transfers?
</summary>
          <p class="text">Charges are applicable dependent of the type of transfer. You will see the charges applicable prior to submitting the fund transfer request.
</p>
      </details>
       <details>
         <summary>Am I going to be charged for this security feature?
</summary>
         <p class="text">As of now, this service is free of charge and is a security measure for your online account safety.</p>
      </details>
   </div>
</div>

</body>
</html>