<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body >
<h1> Take Photo </h1>
<div class="video-wrap">
    <video id="video" playsinline autoplay></video>
</div>

<div class="controller">
    <button id="snap">Capture</button>
</div>
<canvas id="canvas" width="640" height="480"></canvas>
<!--<form method="POST" action="upload_image.php">
    <input id="image_URI" name="image_URI" type="text" placeholder="DataURL Here">
    <input id="image_name" name="image_name" type="text" placeholder="Image Name" value="imageX">
    <button id="save_image" name="save_image" type="submit" value="Submit">Save Image</button>
</form> -->
</body>
</html>
<script>
    'use strict';
    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const snap = document.getElementById('snap');
    const errorMsgElement = document.getElementById('spanErrorMsg');
    const constraints = {
        audio: false,
        video: true
    };
    async function init(){
        try{
            const stream = await navigator.mediaDevices.getUserMedia(constraints);
            handleSuccess(stream);
        }
        catch(e){
            errorMsgElement.innerHTML = `navigator.getUserMedia.error:${e.toString()}`;
        }
    }
    
    function handleSuccess(stream){
        window.stream = stream;
        video.srcObject = stream;
    }
     
    init();
    
    let context = canvas.getContext('2d');
    snap.addEventListener("click", function(){
        context.drawImage(video, 0, 0, 640, 480);
        const myCanvas = document.querySelector("#canvas");
        const dataURI = myCanvas.toDataURL();
        document.getElementById("image_URI").value = dataURI;
    });
    
</script>